@import url('http://fonts.cdnfonts.com/css/d-din');
svg.meter-gauge {
    font-family: 'Bahnschrift', 'D-DIN', 'Roboto', 'San Francisco', 'Helvetica', 'Arial', san-serif;
    display: block;
    margin: auto;
    background-color: white;
}
.meter-gauge .pointer {
    fill: white;
}
.meter-gauge .scoredisplay, .meter-gauge .assessment {
    fill: black;
    font-weight: bold;
}
.meter-gauge .scorelimit {
    fill: black;
	font-size: 2.5em;
}
.meter-gauge .scoredisplay {
	font-size: 9em;
}
.meter-gauge .assessment {
	font-size: 4.5em;
}
