@import url('http://fonts.cdnfonts.com/css/d-din');
svg.meter-gauge {
    font-family: 'Bahnschrift', 'D-DIN', 'Roboto', 'San Francisco', 'Helvetica', 'Arial', san-serif;
    display: block;
    margin: auto;
    background-color: white;  /* Related to background color */
}
.meter-gauge .pointer {
    fill: white;  /* Related to background color */
}
.meter-gauge .scoredisplay, .meter-gauge .assessment {
    fill: black;
    font-weight: bold;
}
.meter-gauge .scorelimit {
    fill: black;
	font-size: 2.5em;
}
.meter-gauge .scorelimit.active {
    animation-name: scorelimitActive;
    animation-duration: 200ms;
    animation-fill-mode: forwards;    
}
@keyframes scorelimitActive {
    to {
        font-size: 2.2em;
        font-weight: bold; 
    }
}
.meter-gauge .scoredisplay {
	font-size: 9em;
}
.meter-gauge .assessment {
	font-size: 4.5em;
}
.meter-gauge .slab-arc {
    stroke-width: 0;
}
.meter-gauge .slab-arc.active {
    animation-name: thickenArc;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}
@keyframes thickenArc {
    to {
        stroke-width: 1%; 
    }
}
.meter-gauge .slab-arc.target.active {
    animation-name: targetArcActivate;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}
@keyframes targetArcActivate {
    to {
        stroke-opacity: 1;
        fill-opacity: 0.75;
        stroke-width: 1.5%;
    }
}
.meter-gauge .hidden {
    display: none;
}
.meter-gauge .transparent {
    animation-name: fadeArcs;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}
@keyframes fadeArcs {
    to {
        opacity: 0.07;
    }
}
